.card {
	&__wrap {
		container-type: inline-size;
	}

	display: flex;
	gap: 30px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 6px 7px 21px rgba($color: #000, $alpha: 0.07);

	&__imageWrap,
	&__content {
		flex: 1;
	}

	&__image {
		position: relative;
		width: 100%;
		aspect-ratio: 16 / 9;
		min-height: 100%;

		img {
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 30px 30px 30px 0;
	}
}

@container (max-width: 700px) {
	.card {
		flex-direction: column;

		&__wrap {
			flex: 1;
		}

		&__imageWrap {
			flex: 0;
		}

		&__content {
			padding: 0 30px 30px;
		}

		&__label {
			font-size: 16px;
		}

		&__title {
			flex: 1;
			font-size: 24px;
		}

		&__summary {
			display: none;
		}
	}
}
